// Utilities

.pull-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  clear: both;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}