// Variables
$smx-background-color: #f2f2f2;
$smx-dark-color: #222423;
$smx-white-color: #fff;
$smx-pink-color: #F3476D;
$smx-dark-black-color: #2E2E2E;
$smx-black-color: #000;

$smx-font-family: sans-serif, arial, helvetica;
$smx-font-bolder: 700;
$smx-font-regular: 400;
$smx-font-lighter: 300;
