<div id="footer">
  <div class="container">
    <div class="one-third column">
      <ul class="footer_links">
        <li><a href="#section-necesito-ayuda">Necesito Ayuda</a></li>
        <li><a href="#section-quiero_ayudar">Quiero Ayudar</a></li>
        <li><a href="#section-faq">Preguntas Frecuentes</a></li>
      </ul>
    </div>
    <div class="one-third column">
      <ul class="footer_links">
        <!--
        <li><a href="#section-mapa">Mapas de Ayuda</a></li>
        <li>Agradecimientos</li>
        <li>Contacto</li>
        -->
      </ul>
    </div>
    <div class="one-third column has_icons">
      <a target="_blank" rel="noopener noreferrer" href="http://slack.codeandomexico.org/"><i class="fa fa-slack"></i></a>
      <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/codeandomexico?lang=en"><i class="fa fa-twitter"></i></a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/CodeandoMexico/terremoto-cdmx"><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>
