<div id="footer">
  <div class="container inner-footer">
    <div class="thirteen columns half">
      <ul>
        <li><a href="#section-quiero_ayudar">QUIERO AYUDAR</a></li>
        <li>AGRADECIMIENTOS</li>
        <li><a href="#section-mapa">NECESITO AYUDA</a></li>
        <li>CONTACTOS</li>
        <li><a href="#section-faq">PREGUNTAS FRECUENTES</a></li>
      </ul>
    </div>
    <div class="three columns logo-row">
      <a href="http://slack.codeandomexico.org/"><i class="fa fa-slack" style="font-size:32px;color:white;"></i></a>
      <a href="https://twitter.com/CodeandoMexico"><i class="fa fa-twitter" style="font-size:32px;color:white;"></i></a>
      <a href="https://github.com/CodeandoMexico/terremoto-cdmx"><i class="fa fa-github" style="font-size:32px;color:white;"></i></a>
    </div>
  </div>

</div>
