<div class="footer">
<div>
  <div class="half">
  <ul>
    <li class="">QUIERO AYUDAR</li>
    <li class="">AGRADECIMIENTOS</li>
    <li class="">NECESITO AYUDA</li>
    <li class="">CONTACTOS</li>
    <div class="">PREGUNTAS FRECUENTES</div>
    <div class=""></div>
  </ul>
  </div>
   <div class="logo-row">
        <i class="fa fa-slack" style="font-size:32px;color:white;"></i>
        <i class="fa fa-twitter" style="font-size:32px;color:white;"></i>
        <i class="fa fa-github" style="font-size:32px;color:white;"></i>
  </div>
</div>
</div>
