<header class="smx-header clearfix">
    <div class="logo">
        <a href="#"><img src="/{{ "logotype-header.svg" | prepend: site.assets.svg }}"></a>
    </div>
    <a href="#" class="resToggle">☰</a>
    <nav class="smx-navigation">
        <ul>
            <li><a href="/#section-necesito-ayuda">Necesito ayuda</a></li>
            <li class="active"><a href="/#section-quiero_ayudar">Quiero ayudar</a></li>


            <div class="nav-right">
                <li><a href="#section-faq">Faq</a></li>
                <!--
                <li><a href="#">Agradecimientos</a></li>
                <li><a href="#">Contacto</a></li>
                -->
            </div>
        </ul>
    </nav>
</header>