// Global

// Main content
.smx-main-content {
  h1 {
  }
}

// Intro section
.smx-intro {
  padding: 15px 0;
}

// Phones section
.smx-telefonos {
  padding: 25px 0;
}

// Footer
#footer {
  background-color: black;
  margin-top: 40px;
  padding: 20px;

  .half {
    color: $smx-white-color;
    margin-bottom: 10px;

    .ul {
      list-style: none;
      li {
        font-size: 16px;
        font-weight: $smx-font-bolder;
        text-transform: uppercase;
      }
    }
    a {
      text-decoration: none;
      color: $smx-white-color;

      &:hover {
        color: $smx-pink-color;
      }
    }
  }
}
