{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "amd": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "rules": {
    "no-console": 0
  }
}
