
*, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}
.title{
  line-height: 2em;
}
.black{
  color: black;
}
.pink{
  color: #F3476D !important;
}
.title{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 28px;
}
.subtitle{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 28px;
}

.lazy-button{
  border: none;
  background:white;
  text-shadow: none;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1em;
  &:hover{
    color:#FFF;
    text-shadow: none;
    border: none;
    background:#F3476D;
  }
}

.btn, a.btn {
    padding: 10px 20px;
    background-color: #222423;
    color: #f3476d;
    transition: all .3s;
    border-radius: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      color: #FFF;
    }
}


@media (max-width: 1224px) {

}
